.item-avatar {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 200px !important;  //any size
    max-height: 200px !important; //any size 
    margin: auto;
    padding: 10px;
    }

h1, h4{
    text-align: center;
}